:root {
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
a {
  padding: 9px;
  border: 1px solid rgb(255, 255, 255);
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  transition: ease-in-out 0.25s;
}
a:hover {
  color: #000000;
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  margin-right: 50px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a00;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  border: 1px solid rgb(255, 255, 255);

}
button:hover {
  background-color: #ffffff;
  color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#quote-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border: 1px solid #000000;
  background-color: #00000033;
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.185);
  transition:  ease-in-out .25s;
}

#text {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-style: italic;
  transition: ease-in-out 0.25s;
}
.author-container {
  display: flex;
  justify-content: flex-end;
}
#author {
  align-self: self-end;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: 700;
}
.buttons-div {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1{
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 500;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
  opacity: 1;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}